<!doctype html>
<html>

<head>
    <style type="text/css">
        .header {
            text-align: center;
            background-color: rgb(136, 185, 229);
            height: 70px;
            line-height: 70px;
        }

        .chart {
            margin-top: 30px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <h3 class=header>Probability distribution for the first digit of the dataset, compared to that
            predicted by Benford's law.
            The frequency distributions are {{analysis}}
        </h3>
        <div id="bargraph" class="bargraph">
        </div>
    </div>
</body>

<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


<script type="text/javascript">
    let graphs = {{ plot | safe}};
    Plotly.plot('bargraph', graphs, {});
</script>

</html>